/* Toda la página */
body {
    background-color: #9d9d9d;
    color: #000;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/* Contenedor principal */
.container {
    padding: 20px;
    text-align: center;
}
  
/* Título */
h1 {
    font-family: 'Bangers', sans-serif; 
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
  
/* Footer */
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer a {
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}